{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

   WE HAVE VARIETY OF PRODUCTS.

{% endblock %}

{% block title %}
SEARCH
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for : <b>{{query}}</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
                <div class="card text-center">
                    <a href="{{ product.get_url }}">
                        <div class="my-image-wrapper">
                            <img class="card-img-top my-image1" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-price">{{ product.price }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row mx-auto">
                <p class="text-center my_search_text">
                    0 RESULT FOUND
                </p>
            </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}